body {
    margin: 0;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

#item {
    width: 200px;
    height: 200px;
    background-color: rgb(14, 247, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}